<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6 text-center">
            <h3>This Fault has been reported.</h3>
            <form asp-action="Create" asp-controller="FaultReports">
                <button type="submit" class="btn btn-primary">Report another Fault</button>
            </form>

        </div>
    </div>
</div>
