@model CarParkingSystem.Models.Visitation
@{
    ViewData["Title"] = "Add Visitation";
}

<style>
    .add-bay-form2 {
        margin: 120px auto;
    }
</style>
<div style="margin-top:20px">
    <h4 class="text-center">Add a visitation </h4>
</div>
<div class="add-bay-form2">
    <form asp-action="AddVisitation" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="rana-form-label">First Name:</label>
                    <input type="text" asp-for="FirstNmae" class="rana-form-input" placeholder="Insert First Name">
                    <span class="text-danger" asp-validation-for="FirstNmae"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="rana-form-label">Last Name:</label>
                    <input type="text" asp-for="LastNmae" class="rana-form-input" placeholder="Insert Last Name">
                    <span class="text-danger" asp-validation-for="LastNmae"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="rana-form-label">Purpose of Visit:</label>
                    <input type="text" asp-for="purpose" class="rana-form-input" placeholder="Insert Purpose of Visit">
                    <span class="text-danger" asp-validation-for="purpose"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="rana-form-label">Registration Plate:</label>
                    <input type="text" asp-for="RegistrationPlate" class="rana-form-input" placeholder="Insert Registration Plate">
                    <span asp-validation-for="RegistrationPlate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="rana-form-label">Entry Date:</label>
                    <input type="date" asp-for="EntryDate" class="rana-form-input" id="EntryDate">
                    <span asp-validation-for="EntryDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="rana-form-label">Entry Time:</label>
                    <input type="time" asp-for="EntryTime" class="rana-form-input">
                    <span asp-validation-for="EntryTime" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 80px;">
            <p class="rana-form-label" id="ParkingS">This driver will be allocated into spot: </p>
            <input type="hidden" asp-for="ParkingBay" id="ParkingBay" />
        </div>
        <div class="text-center">
            <button type="submit" class="rana-form-btn w-75">Record Visitation</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            // Set the min attribute for EntryDate to today's date
            var today = new Date().toISOString().split('T')[0];
            document.getElementById("EntryDate").setAttribute('min', today);

            // Fetch parking spot information
            $.ajax({
                url: '/GuardDashboard/GetSpot',
                type: 'GET',
                success: function (response) {
                    $('#ParkingS').text('This driver will be allocated into spot: ' + response.bayId);
                    $('#ParkingBay').val(response.bayId);
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 400) {
                        $('.text-center').hide();
                        $('#ParkingS').text('There is no available parking spot.');
                    }
                }
            });
        });
    </script>
}
